body {
    background-color: #6066D0;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: #ffffff;
}

.container {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 10px;
    max-width: 464px;
}

h3 {
    color: #2F527B;
}

.answers {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.answers button {
    padding: 0.5rem;
    background-color: transparent;
    border: 1px solid #6066D0;
    color: #6066D0;
    border-radius: 5px;
    width: 100%;
}

.answers button:hover {
    background-color: #F9A826;
    color: #ffffff;
}

.nextBtn {
    background-color: #F9A826;
    color: #ffffff;
    border: none;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
}

.answers .trueAnswer {
    background-color: #EA8282;
}

.tryAgainBtn {
    max-width: 209px;
    max-height: 62px;
    background-color: transparent;
    color: #1D355D;
    padding: 0.5rem 1rem;
    border: 1px solid #1D355D;
    border-radius: 5px;
}

h2 {
    color: #1D355D;
}