body {
    background-image: url('background.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

img {
    max-width: 50px;
}

h1 {
    color: #ffffff;
}

.startBtn {
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
}

.container {
    background-color: #ffffff;
    padding: 3rem 1rem;
    border-radius: 10px;
    max-width: 274px;
    height: 330px;
    background-image: url('undraw_adventure_4hum.svg');
    background-position: 110% 0%;
    background-repeat: no-repeat;
    background-size: 100px 60px;
    position: absolute;
    top: 65%;
    
}

h3 {
    color: #2F527B;
}

.answers {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.answers button {
    padding: 0.5rem;
    background-color: transparent;
    border: 1px solid #6066D0;
    color: #6066D0;
    border-radius: 5px;
    width: 100%;
}

.answers button:hover {
    background-color: #F9A826;
    color: #ffffff;
}

.nextBtn {
    background-color: #F9A826;
    color: #ffffff;
    border: none;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
}


.tryAgainBtn {
    max-width: 209px;
    max-height: 62px;
    background-color: transparent;
    color: #1D355D;
    padding: 0.5rem 1rem;
    border: 1px solid #1D355D;
    border-radius: 5px;
}

.result {
    background-image: url('/undraw_winners_ao2o.svg');
    background-position: center 15%;
    background-repeat: no-repeat;
    background-size: 150px 100px;
    padding-top: 140px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

h2 {
    color: #1D355D;
}